<div class="col">
  <div class="row"> 
    <div class="col-md-2">
      Название
    </div>
    <div class="col-md-34">
      Описание
    </div>
    <div class="col-md-2">
      Цена
    </div>
    <div class="col-md-2">
      Категория
    </div>
    <div class="col-md-2">
      Дата издания
    </div>
  </div>
  <div class="row" *ngFor="let book of bookList"> 
    <div class="col-md-2">
      {{book.name}}
    </div>
    <div class="col-md-4">
      {{book.description}}
    </div>
    <div class="col-md-2">
      {{book.price}}
    </div>
    <div class="col-md-2">
      {{book.category}}
    </div>
    <div class="col-md-2">
      {{book.createDate}}
    </div>
  </div>
</div>
